<%inherit file="/user/layout/base.html"/>

<%block name="title">
Edit user
</%block>

<div class="container">
  <h1>Edit user <small>${current_user}</small></h1>

  <div class="row">
    <div class="col-md-7">
      <form action="/user/edit" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">
            Name
          </label>
          <div class="col-sm-10">
            <input type="text" name="name" id="name" readonly="readonly" value="${current_user.name}" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">
            Avatar
          </label>
          <div class="col-sm-10">
            <a href="/user/avatar/${current_user.name}">Change avatar</a>
          </div>
        </div>

        <div class="form-group">
          <label for="fullname" class="col-sm-2 control-label">
            Full name
          </label>
          <div class="col-sm-10">
            <input type="text" name="fullname" id="fullname" value="${current_user.fullname}" placeholder="Enter your fullname" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">
            Email
          </label>
          <div class="col-sm-10">
            <input type="email" name="email" id="edit-email" value="${current_user.email}" placeholder="Enter your email" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">
            Password
          </label>
          <div class="col-sm-10">
            <input type="password" name="password" id="password" placeholder="Enter password" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="pr" class="col-sm-2 control-label">
            Self introduction
          </label>
          <div class="col-sm-10">
            <textarea type="textarea" name="pr" id="pr" placeholder="Enter self introduction" class="form-control">${current_user.pr}</textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" id="edit-btn">
              <span class="glyphicon glyphicon-check"></span>
              Update profile
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-offset-2 col-md-3">

  </div>
</div>
