## -*- coding: utf-8 -*-

<%inherit file="/layout/base.html"/>

<%block name="title">
Messages
</%block>

<div class="row">
  <div class="col-md-7">
    <h1>Messages <small>Feedback and more</small></h1>

    % if unread_messages:
    <div class="alert alert-dismissable alert-warning">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <h4>Warning!</h4>
      <p>You have ${unread_messages.count()} new messages.
      </p>
    </div>
    % endif

    <div class="list-group">
      % for msg in messages:
      <a href="/admin/message/view/${msg.message_id}" class="list-group-item">
        <h4 class="list-group-item-heading">
          ${msg.sender} | ${msg.sender_email}
        </h4>
        <p class="list-group-item-text">${msg}</p>
      </a>
      % endfor
    </div>
  </div>

  <div class="col-md-5">
    <h3>Unread message</h3>
    <div class="list-group">
      % for msg in unread_messages:
      <a href="/admin/message/view/${msg.message_id}" class="list-group-item">
        <h4 class="list-group-item-heading">
          ${msg.sender} | ${msg.sender_email}
        </h4>
        <p class="list-group-item-text">${msg}</p>
      </a>
      % endfor
    </div>
  </div>
</div>
