## -*- coding: utf-8 -*-

<%inherit file="/layout/base.html"/>

<%block name="title">
Messages
</%block>

<%block name="meta">
<script src="/static/js/admin/contact.js"></script>
</%block>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Name</td>
          <td>${message.sender}</td>
        </tr>

        <tr>
          <td>Sender email</td>
          <td>${message.sender_email}</td>
        </tr>

        <tr>
          <td>Content</td>
          <td>${message}</td>
        </tr>
      </tbody>
    </table>

    <form>
      <input type="hidden" name="message_id" id="feedback-message-id"
             value="${message.message_id}">
      <div class="form-group">
        <label for="feedback-content">Reply</label>
        <textarea class="form-control" placeholder="Reply this message"
                  id="feedback-msg"></textarea>
      </div>
      <button type="button" class="btn btn-default" id="feedback-btn">
        <i class="fa fa-send"></i>
        Send
      </button>
    </form>
  </div>
</div>

<div style="padding-bottom:2em"></div>
