## -*- coding: utf-8 -*-

% if not current_user or current_user is UNDEFINED:
<%include file="/base/_login_modal.html"/>
% endif

<footer>
  <div class="container text-center">
    <p>I make this site for my love, Viet Phuong.</p>
    <p>Copyright &copy; 2015 Anh Tranngoc. All rights reserved!</p>

    <div class="social-link">
      <ul>
        <li>
          <a href="https://twitter.com/AnhTranngoc" class="twitter-follow-button" data-show-count="false">Follow @AnhTranngoc</a>
        </li>
        <li>
          <a href="https://twitter.com/intent/tweet?screen_name=AnhTranngoc" class="twitter-mention-button" data-related="AnhTranngoc">Tweet to @AnhTranngoc</a>
        </li>
      </ul>
    </div>

    <ul class="list-unstyled">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/privacy">Privacy</a></li>
    </ul>
  </div>
</footer>

<%include file="/base/_extras.html"/>
<%include file="/base/_music.html"/>
