<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#vpyeu-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/">Viet Phuong yeu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right"
         id="vpyeu-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </a></li>
        <li><a href="/sns">
            <span class="glyphicon glyphicon-globe"></span>
            SNS
        </a></li>
        <li><a href="/blog">
            <span class="glyphicon glyphicon-book"></span>
            Blog
        </a></li>
        <li><a href="/game">
            <span class="glyphicon glyphicon-play"></span>
            Game
          </a>
        </li>
        <li><a href="/gallery">
            <span class="glyphicon glyphicon-picture"></span>
            Gallery
        </a></li>
        <li><a href="/chat">
            <span class="glyphicon glyphicon-comment"></span>
            Chat
        </a></li>
        % if current_user and current_user is not UNDEFINED:
        <%include file="/base/_user_menu.html"/>
        % else:
        <li><a href="javascript:;" data-toggle="modal"
               data-target="#login">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
        </a></li>
        <li><a href="/user/register">
            <span class="glyphicon glyphicon-user"></span>
            Register
        </a></li>
        % endif
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/static/images/common/header1.jpg" style="width:100%"
           class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>The way to happiness</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/static/images/common/header2.jpg" style="width:100%"
           class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>I shall love you for ever</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/static/images/common/header3.jpg" style="width:100%"
           class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>I will be always by your side</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/static/images/common/header4.jpg" style="width:100%"
           class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Love you until the end of time</h1>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

