<div class="modal fade" id="login" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="login-label">Please Login</h4>
      </div>
      <div class="modal-body">
        <form id="top-login-form" class="form-horizontal">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
              Username
            </label>
            <div class="col-sm-10">
              <input id="username-top" type="text"
                     class="form-control"
                     placeholder="Enter username"></input>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">
              Password
            </label>
            <div class="col-sm-10">
              <input type="password" id="password-top" class="form-control"
                     placeholder="Enter password"></input>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span>
          Close
        </button>
        <button type="button" class="btn btn-primary"
                id="top-login-btn">
          <span class="glyphicon glyphicon-log-in"></span>
          Login
        </button>
        <a href="/activate" class="btn btn-danger">
          <span class="glyphicon glyphicon-flag"></span>
          Activate account
        </a>
      </div>
    </div>
  </div>
</div>
