<li><a href="/user/view/${current_user.name}">
    <span class="glyphicon glyphicon-user"></span>
    ${current_user}
</a></li>
% if current_user.is_admin:
<li><a href="/admin">
    <span class="glyphicon glyphicon-cog"></span>
    Admin
</a></li>
% endif
<li><a href="javascript:;" id="top-logout-btn">
    <span class="glyphicon glyphicon-log-out"></span>
    Log out
</a></li>
