## -*- coding: utf-8 -*-
<!DOCTYPE html>
<html>
  <head>
    <title><%block name="title"/> - Viet Phuong yeu</title>
    <%include file="/base/_head.html"/>
    <%block name="meta"/>
  </head>
  <body>
    <%include file="/base/_logo_header.html"/>
    <a href="#" class="back-to-top btn">
      Back to top
      <span class="glyphicon glyphicon-arrow-up"></span>
    </a>
    ${next.body()}
    <%include file="/base/_footer.html"/>
    <%block name="extras"/>
  </body>
</html>
