ul.fpthumbs{ /*thumbnails main UL list*/
    list-style-type:none;
    margin:0;
    padding:0;
    position:absolute;
    top:2550px;
    left:100;
    bottom:10px;
    width:98%;
}

ul.fpthumbs li{
    display:inline;
    margin-right:10px; /*spacing between each thumbnail*/
}

ul.fpthumbs li img{
    border:2px solid white;
    background:gray;
    cursor:hand;
    cursor:pointer;
    margin-top:5px;
    width:50px;
    height:50px;
}

ul.fpthumbs li img.selected{
    border-color:red;
}

#upload-form {
    margin-top: 1em;
}