<form method="post" action="/sns/post/comment" id="comment-${post_id}">
  <input type="hidden" name="post_id" value="${post_id}" id="comment-post-${post_id}"></input>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <img src="${current_user.gravatar()}" class="left"></img>
      </div>
      <textarea class="form-control" id="comment-content-${post_id}" placeholder="Enter your comment" cols="50" onkeyup="comment_char_count(${post_id})"></textarea>
    </div>
  </div>
  <span id="comment-${post_id}-cnt">140</span> characters left
  <button type="button" id="comment-btn-${post_id}"
          class="btn btn-primary pull-right"
          onclick="do_comment(this)">
    <span class="glyphicon glyphicon-pencil"></span>
    Comment
  </button>

  <button class="pull-right" hidden="hidden" id="commenting-${post_id}">
    <span class="glyphicon glyphicon-pencil"></span>
    Commenting...
  </button>
</form>
