% for comment in comments:
<div class="media">
  <div class="media-left">
    <a href="/user/view/${comment[1].name}">
      <img src="${comment[1].gravatar()}"/>
    </a>
  </div>

  <div class="media-body">
    <h4 class="media-heading">
      <a href="/user/view/${comment[1].name}">
        ${comment[1]}
      </a>
    </h4>
    <p>${comment[0].content | entity}</p>
    <div class="post-time">
      <a href="javascript:;" title="Commented at ${comment[0].created_at}">
        <span class="glyphicon glyphicon-time"></span>
        ${comment[0].created_at}
      </a>
    </div>
  </div>
</div>
% endfor

<%include file="/sns/comments/_form.html"/>
