<form class="form_settings">
  <textarea id="post-content" name="content" placeholder="Write something here.." required="required" cols="41"></textarea>
  <br>
  <span id="char-count">140</span>
  characters left
  <button id="post-send" type="button" class="pull-right btn btn-primary">
    <span class="glyphicon glyphicon-send"></span>
    Send
  </button>

  <button class="pull-right" id="post-sending" hidden="hidden">
    <span class="glyphicon glyphicon-send"></span>
    Sending...
  </button>
</form>
