% for post in posts:
<div class="media">
  <div class="media-left">
    <a href="/user/view/${post[1].name}">
      <img src="${post[1].gravatar()}"/>
    </a>
  </div>

  <div class="media-body">
    <h4 class="media-heading">
      <a href="/user/view/${post[1].name}">
        ${post[1]}
      </a>
    </h4>
    <p>${post[0].content | entity}</p>

    <div class="post-time">
      <ul class="list-unstyled">
        <li><a href="#" class="comment" id="${post[0].post_id}">
            <span class="glyphicon glyphicon-comment"></span>
            Comment
        </a></li>
        <li><a href="javascript:;" title="Posted at ${post[0].created_at}">
            <span class="glyphicon glyphicon-time"></span>
            ${post[0].created_at}
        </a></li>
      </ul>
    </div>
    <div class="comments" id="comment${post[0].post_id}"></div>
  </div>
</div>
% endfor
