<div class="media">
  <div class="media-left">
    <a href="/sns/profile">
      <img src="${current_user.gravatar(68)}"/>
    </a>
  </div>

  <div class="media-body">
    <h4 class="media-heading">
      <a href="/user/view/${current_user.name}">
        ${current_user.fullname}
      </a>
    </h4>
    <a href="/user/edit/${current_user.name}">
      Edit user profile
    </a>
    <p>${current_user.pr}</p>
  </div>
</div>
