<%inherit file="/base/base.html"/>

<%block name="title">Chat</%block>

<%! import os %>

<%block name="meta">
<script type="application/javascript">
  $(document).ready(function() {
    websocket = "ws://0.0.0.0:${int(os.environ.get('PORT', '8090'))}/chat/ws";
    if (window.WebSocket) {
      ws = new WebSocket(websocket);
    } else if (window.MozWebSocket) {
      ws = MozWebSocket(websocket);
    } else {
      console.log("WebSocket Not Supported");
      return;
    }

    window.onbeforeunload = function(e) {
      var psconsole = $('#chat');
      psconsole.val(psconsole.val() + "Bye bye...\n");
      ws.close(1000, "${current_user} left the room");
      if(psconsole.length)
        psconsole.scrollTop(psconsole.prop('scrollHeight'));

      if(!e) e = window.event;
      e.stopPropagation();
      e.preventDefault();
    };

    ws.onmessage = function (evt) {
      var psconsole = $('#chat');
      psconsole.val(psconsole.val() + evt.data + "\n");
      if(psconsole.length)
        psconsole.scrollTop(psconsole.prop('scrollHeight'));

    };
    ws.onopen = function() {
      ws.send("${current_user} entered the room");
      var psconsole = $('#chat');
      if(psconsole.length)
        psconsole.scrollTop(psconsole.prop('scrollHeight'));

    };
    ws.onclose = function(evt) {
      var psconsole = $('#chat');
      psconsole.val(psconsole.val() + "Connection closed by server: " + evt.code + " " + evt.reason + "\n");
      if(psconsole.length)
        psconsole.scrollTop(psconsole.prop('scrollHeight'));

    };

    $("#send").click(function() {
      console.log($("#message").val());
      ws.send("${current_user}: " + $("#message").val());
      $("#message").val("");
      return false;
    });
  });
</script>
</%block>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>Public chat room</h2>
      <form action="#" id="chatform" method="get" class="form-horizontal">
        <div class="form-group">
          <textarea id="chat" rows="20" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="message">${current_user}:</label>
          <input type="text" id="message" size="42" class="form-control"
                 placeholder="Your text here" autocomplete="off">
          <button id="send" type="submit" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-send"></span>
            Send
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-offset-1 col-md-4">
      <h2>Online member</h2>
      <div id="online-member">
        <p>Implement later</p>
      </div>
    </div>
  </div>
</div>
