.logo {
    font-family: 'Tangerine', serif;
    font-size: 32px;
    text-shadow: 2px 2px 2px #aaaaaa;
}

.post-time, .post-time a {
    color: #777777;
    padding-bottom: 1em;
}

.post-time a:hover {
    color: #337AB7;
}

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.carousel {
    margin-bottom: 60px;
}

.carousel-caption {
    z-index: 1;
}

.carousel-caption h1 {
    font-weight: 700;
}

.carousel .item {
    height: 100vmin;
    background-color:#555;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vmin;
}

.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    padding-top: 120px;
    overflow: hidden;
}

.featurette-image {
    margin-top: -120px;
}

.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
        margin-bottom: -90px;
    }
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}
.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.morph {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.morph:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.focus {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.focus:hover {
    border: 20px solid #000;
    border-radius: 50%;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}

footer {
    margin-top: 3.5em;
    border-top: 1px solid #e5e5e5;
}

footer .container {
    padding-top: 2em;
}


footer ul {
    padding-top: 2em;
    display: inline-block;
}

footer ul li, .post-time ul li {
    float: left;
    margin-right: 1em;
}

footer ul li:after, .post-time ul li:after {
    color: #23527C;
    content: "\b7";
    margin-left: 10px;
}

footer ul li:last-child:after, .post-time ul li:last-child:after {
    display: none;
}

.nav-tabs {
    margin-bottom: 2em;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
    font-weight: 800;
}
.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .navbar-custom .navbar-brand {
        color: white;
        padding: 20px;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    .navbar-custom .nav li a {
        color: white;
        padding: 20px;
    }
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: rgba(255, 255, 255, 0.8);
    }
}
@media only screen and (min-width: 1170px) {
    .navbar-custom {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .navbar-custom.is-fixed {
        position: fixed;
        top: -61px;
        background-color: rgba(255, 255, 255, 0.7);
        border-bottom: 1px solid #f2f2f2;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: #404040;
    }
    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: #0085a1;
    }
    .navbar-custom.is-fixed .nav li a {
        color: #404040;
    }
    .navbar-custom.is-fixed .nav li a:hover,
    .navbar-custom.is-fixed .nav li a:focus {
        color: #0085a1;
    }
    .navbar-custom.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.social-link ul {
    list-style: outside none none;
}

.social-link ul li {
    float: left;
    margin-right: 1em;
    margin-left: 0;
}

.social-link ul li:after {
    display: none;
}

#contact {
    background-image: url("/static/images/common/background-world-map.gif");
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -60px;
    margin-bottom: -50px;
    padding-top: 120px;
    padding-bottom: 120px;
}