<%inherit file="/game/layout/base.html"/>

<%block name="title">
Game Tetris
</%block>

<div id="first">
  <div id="tetris">
    <div id="tetris-menu">
      <p id="start"><a href="javascript:play();">Press Space to Play.</a></p>
      <p><canvas id="upcoming"></canvas></p>
      <p>score <span id="score">00000</span></p>
      <p>rows <span id="rows">0</span></p>
    </div>
    <canvas id="canvas">
      Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
    </canvas>
  </div>
</div>
<script src="/static/js/tetris/stats.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/tetris/tetris.css"/>
<script src="/static/js/tetris/tetris.js"></script>
