## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
About
</%block>

<%block name="meta">
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</%block>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome to my Website</h1>
      <p>This is the website I write for my love, Viet Phuong!</p>
      <p>I spent a lot of time on it. And I found that Python is very
        interesting. I have another project on Ruby on Rails but I like
        this more. This is my present for my love, Viet Phuong, and
        that's all I do for her.</p>
      <p>
        This website is programmed using
        <a href="https://www.python.org/" target="_blank">Python</a>
        programming language,
        <a href="http://www.cherrypy.org/" target="_blank">Cherrypy</a>
        framework,
        <a href="http://www.makotemplates.org/" target="_blank">Mako</a>
        template engine,
        <a href="http://www.sqlalchemy.org/" target="_blank">
          SQLAlchemy</a> database toolkit, etc.
      </p>
      <p>
        For more information, please contact me
        <a href="mailto:tran.ngoc.anh@framgia.com">
          <i class="glyphicon glyphicon-envelope"></i>
          tran.ngoc.anh@framgia.com</a>
      </p>
      <p>
        <a class="btn btn-default" href="/">
          <i class="glyphicon glyphicon-backward"></i>
          Back to Home
        </a>
      </p>

      <a href="https://github.com/manhhomienbienthuy" class="github-button">Follow @manhhomienbienthuy</a>
      <a data-icon="octicon-eye" href="https://github.com/manhhomienbienthuy/vpyeu_apps" class="github-button">Watch</a>
      <a data-icon="octicon-star" href="https://github.com/manhhomienbienthuy/vpyeu_apps" class="github-button">Star</a>
      <a data-icon="octicon-git-branch" href="https://github.com/manhhomienbienthuy/vpyeu_apps" class="github-button">Fork</a>
    </div>

    <div class="col-md-4">
      <h2>Requirements</h2>
      <p>The table below is the requirements for developing this Website</p>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th>Package</th>
            <th>Version</th>
          </tr>

          <tr>
            <td>Python</td>
            <td>3.4.2</td>
          </tr>

          <tr>
            <td>CherryPy</td>
            <td>3.6.0</td>
          </tr>

          <tr>
            <td>Mako</td>
            <td>1.0.0</td>
          </tr>

          <tr>
            <td>MarkupSafe</td>
            <td>0.23</td>
          </tr>

          <tr>
            <td>Pillow</td>
            <td>2.7.0</td>
          </tr>

          <tr>
            <td>PyMySQL</td>
            <td>0.6.3</td>
          </tr>

          <tr>
            <td>SQLAlchemy</td>
            <td>0.9.8</td>
          </tr>

          <tr>
            <td>ws4py</td>
            <td>0.3.4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
