## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
Activate
</%block>

<div class="container">
  <h1>Activate account</h1>
  <p>Your account is activated</p>
  <p>You can use this Website right now</p>
  <a href="/" class="btn btn-primary">
    <span class="glyphicon glyphicon-home"></span>
    Go to homepage
  </a>
</div>
