## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
Activate
</%block>

<%block name="meta">
<script src="/static/js/common/activate.js"></script>
</%block>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Activate account</h1>

      % if message and message is not UNDEFINED:
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        ${message}
      </div>
      % endif

      <p>You have received an email about activation information. Please follow the instruction to activate your account.</p>
      <p>If you don't receive any email?</p>
      <button type="button" class="btn btn-danger" id="resend-key-btn">
        <span class="glyphicon glyphicon-send"></span>
        Resend mail
      </button>

      <form id="resend-key-form" class="form-inline">
        <p><br>Enter your email address to resend activate key</p>
        <div class="form-group">
          <label for="email" class="sr-only">
            Email address
          </label>
          <input id="email" class="form-control" size="30"
                 placeholder="Enter your email">
          <button type="button" class="btn btn-primary"
                  id="resend-key-form-btn">
            <span class="glyphicon glyphicon-send"></span>
            Resend
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-offset-2 col-md-4">
      <h3>Or you can fill the form below to activate your account</h3>
      <form class="form-horizontal" action="/activate" method="get">
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" class="form-control"
                   placeholder="Enter your email">
          </div>
        </div>

        <div class="form-group">
          <label for="key" class="col-sm-2 control-label">Key</label>
          <div class="col-sm-10">
            <input type="text" name="key" class="form-control"
                   placeholder="Enter your key">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-flag"></span>
              Activate
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
