## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
Contact
</%block>

<%block name="meta">
<script src="/static/js/common/contact.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</%block>

<div id="contact">
  <div class="container overlay">
    <div class="row">
      <div class="col-md-6">
        <h3>Contact us</h3>
        <p>I'm happy to answer any questions you have or provide you with an estimate. Just send us a message in the form below.</p>
        <form>
          <div class="form-group">
            <label for="contact-name">Your name</label>
            <input type="text" class="form-control" id="contact-name"
                   placeholder="Enter your name" required="required">
          </div>

          <div class="form-group">
            <label for="contact-email">Your email</label>
            <input type="email" class="form-control" id="contact-email"
                   placeholder="Enter you email address" required="required">
          </div>

          <div class="form-group">
            <label for="contact-msg">Your message</label>
            <textarea class="form-control" id="contact-msg"
                      placeholder="What do you want to tell me"
                      required="required"></textarea>
          </div>

          <button type="button" id="contact-btn" class="btn btn-primary">
            <span class="glyphicon glyphicon-send"></span>
            Send
          </button>
        </form>
      </div>

      <div class="col-md-offset-3 col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <h4 class="panel-title">Email</h4>
          </div>
          <div class="panel-body">
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:tran.ngoc.anh@framgia.com">
              tran.ngoc.anh@framgia.com
            </a>
            <br>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:anhtn.hedspi@gmail.com">
              anhtn.hedspi@gmail.com
            </a>
          </div>
        </div>

        <div class="panel panel-danger">
          <div class="panel-heading text-center">
            <h4 class="panel-title">Phone</h4>
          </div>
          <div class="panel-body">
            <span class="glyphicon glyphicon-phone"></span>
            <a href="tel:+84988903144">+84 988 903 144</a>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading text-center">
            <h4 class="panel-title">Skype</h4>
          </div>
          <div class="panel-body">
            <i class="fa fa-skype"></i>
            <a href="skype:manhhomienbienthuy">
              manhhomienbienthuy
            </a>
          </div>
        </div>

        <div class="panel panel-warning">
          <div class="panel-heading text-center">
            <h4 class="panel-title">On the web</h4>
          </div>
          <div class="panel-body">
            <i class="fa fa-facebook-official"></i>
            <a href="https://www.facebook.com/manhhomienbienthuy"
               target="blank_">
              Anh Tranngoc
            </a>
            <br>
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/AnhTranngoc" target="blank_">
              @AnhTranngoc
            </a>
            <br>
            <i class="fa fa-youtube"></i>
            <a href="https://www.youtube.com/user/manhhomienbienthuy"
               target="blank_">
              manhhomienbienthuy
            </a>
            <br>
            <i class="fa fa-github"></i>
            <a href="https://github.com/manhhomienbienthuy/"
               target="blank_">
              manhhomienbienthuy
            </a>
            <br>
            <i class="fa fa-bitbucket"></i>
            <a href="https://bitbucket.org/vpyeu/" target="blank_">
              vpyeu
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
