## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%block name="title">
Top page
</%block>

<div class="container marketing">
  <h1>Welcome to my website</h1>

  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle morph" style="width:140px;height:140px;"
           src="/static/images/common/ad1.jpg">
      <h2>I and my wife</h2>
    </div>

    <div class="col-md-4 text-center">
      <img class="img-circle focus" style="width:140px;height:140px;"
           src="/static/images/common/ad2.jpg">
      <h2>Beautiful</h2>
    </div>

    <div class="col-md-4 text-center">
      <img class="img-circle tilt" style="width:140px;height:140px;"
           src="/static/images/common/ad3.jpeg">
      <h2>Happiness</h2>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image img-circle pull-right focus"
         style="width:512px;height:512px;"
         src="/static/images/common/feature1.jpg">
    <h2 class="featurette-heading">You are so beautiful
      <span class="text-muted">It's true</span>
    </h2>
    <p class="lead">You are so beautiful, especially in white.</p>
  </div>

  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image img-circle pull-left focus"
         style="width:512px;height:512px;"
         src="/static/images/common/feature2.jpg">
    <h2 class="featurette-heading">We will be happiest
      <span class="text-muted">Together</span>
    </h2>
    <p class="lead">
      Together, we will be happiest.
    </p>
  </div>

  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image img-circle pull-right focus"
         style="width:512px;height:512px;"
         src="/static/images/common/feature3.jpg">
    <h2 class="featurette-heading">I love you
      <span class="text-muted">more than words can say</span>
    </h2>
    <p class="lead">I will love  you for ever</p>
  </div>

  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-8">
      <div id="video-sec" class="player"
           data-property="{
                          videoURL:
                          'https://www.youtube.com/watch?v=cFcvP7bdTAs',
                          containment:'self',
                          autoPlay:true,
                          mute:true,
                          startAt:0,
                          opacity:1,
                          showControls:false
                          }">
      </div>
    </div>
    <div class="col-md-4">
      <h1>This is video of my wedding</h1>
      <h4>Keep calm and enjoy</h4>
    </div>
  </div>

  <hr class="featurette-divider">
  <h3>Keep calm and enjoy</h3>
  <p>
    <i class="glyphicon glyphicon-share"></i>
    <strong>Do you like this site?</strong>
    <br>
    Let your friends know about this
  </p>
  <div class="social-link">
    <ul class="list-unstyled">
      <li>
        <div class="fb-share-button" data-href=""
             data-layout="button"></div>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-via="AnhTranngoc" data-count="none">Tweet
        </a>
      </li>
      <li>
        <div class="g-plus" data-action="share"
             data-annotation="none"></div>
      </li>
      <li>
        <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
      </li>
      <li>
        <a href="//www.pinterest.com/pin/create/button/"
           data-pin-do="buttonBookmark" >
          <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
      </li>
      <li>
        <script src="//platform.linkedin.com/in.js" type="text/javascript">
          lang: en_US
        </script>
        <script type="IN/Share"></script>
      </li>
      <li>
        <a href="http://www.tumblr.com/share" title="Share on Tumblr"
           style="display:inline-block;
                  text-indent:-9999px;
                  overflow:hidden;
                  width:81px;
                  height:20px;
                  background:url('https://platform.tumblr.com/v1/share_1.png')
                  top left no-repeat transparent;">Share on Tumblr</a>
      </li>
    </ul>
  </div>
</div>

<%block name="extras">
<script src="/static/js/common/jquery.mb.YTPlayer.js"></script>
<script src="/static/js/common/vpyeu.js"></script>
<script type="text/javascript" async defer
        src="//assets.pinterest.com/js/pinit.js"></script>
<script src="http://platform.tumblr.com/v1/share.js"></script>
</%block>
