<h3>Admin menu</h3>

<ul>
  <li><a href="/blog/entry/write">
      <span class="glyphicon glyphicon-pencil"></span>
      Write new entry
  </a></li>
</ul>

% if entry and entry is not UNDEFINED and isinstance(entry, tuple):
<ul>
  <li><a href="/blog/entry/write/${entry[0].entry_id}">
      <span class="glyphicon glyphicon-edit"></span>
      Edit this entry
  </a></li>
</ul>
% endif
