% if entries and entries is not UNDEFINED:
<div>
  <h3>Recent entries</h3>
  <ul>
    % for entry in entries.limit(10):
    <li><a href="/blog/entry/view/${entry[0].entry_id}">${entry[0]}</a></li>
    % endfor
  </ul>
</li>
</div>
% endif

% if current_user and current_user is not UNDEFINED and current_user.is_admin:
<%include file="/blog/layout/_admin_menu.html"/>
% endif
