<%inherit file="/base/base.html"/>

<%block name="title">
Blog page
</%block>

<%block name="meta">
<script src="/static/js/blog/vpyeu.js"></script>
</%block>

<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/blog/entry">Home</a></li>
    <li role="presentation"><a href="/blog/author">Authors</a></li>
  </ul>

  <div class="row">
    <div class="col-md-8">
      ${next.body()}
    </div>

    <div class="col-md-4">
      <%include file="/blog/layout/_sidebar.html"/>
    </div>
  </div>
</div>
