<%inherit file="/user/layout/base.html"/>

<%block name="title">
User registration page
</%block>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Do you have an account?</h3>
      <a href="javascript:;" data-toggle="modal" data-target="#login"
         class="btn btn-primary">
        <span class="glyphicon glyphicon-log-in"></span>
        Login
      </a>
    </div>

    <div class="col-md-8">
      <h3>Or you can register an account here</h3>
      <form action="/user/register" method="post" class="form-horizontal">
        <div class="form-group">
          <label for="reg-name" class="col-sm-2 control-label">
            Username
          </label>
          <div class="col-sm-9">
            <input type="text" name="name" id="reg-name" placeholder="Enter your name" required="required" class="form-control">
          </div>
          <div class="col-sm-1" id="reg-name-alert">
          </div>
        </div>

        <div class="form-group">
          <label for="reg-fullname" class="col-sm-2 control-label">
            Full name
          </label>
          <div class="col-sm-9">
            <input type="text" name="fullname" id="reg-fullname" placeholder="Enter your fullname" class="form-control"></input>
          </div>
        </div>

        <div class="form-group">
          <label for="reg-email" class="col-sm-2 control-label">
            Email
          </label>
          <div class="col-sm-9">
            <input type="email" name="email" id="reg-email" placeholder="Enter your email" required="required" class="form-control"/>
          </div>
          <div class="col-sm-1" id="reg-email-alert">
          </div>
        </div>

        <div class="form-group">
          <label for="reg-password" class="col-sm-2 control-label">
            Password
          </label>
          <div class="col-sm-9">
            <input type="password" name="password" id="reg-password" placeholder="Enter your password" required="required" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="reg-pr" class="col-sm-2 control-label">
            Self introduction
          </label>
          <div class="col-sm-9">
            <input type="text" name="pr" id="reg-pr" placeholder="Enter your introduction" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-primary" id="reg-btn">
              <span class="glyphicon glyphicon-check"></span>
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
