## -*- coding: utf-8 -*-
<%inherit file="/game/layout/base.html"/>

<div class="container">
  <h1>Let's play and enjoy</h1>

  <h3>Tetris</h3>
  <p>Tetris game almost write in javascript</p>
  <a href="/game/play/tetris">
    <span class="glyphicon glyphicon-play"></span>
    Play Tetris
  </a>

  <h3>Jewel</h3>
  <p>The famous "Jewel" game now available in my web!</p>
  <a href="/game/play/jewel">
    <span class="glyphicon glyphicon-play"></span>
    Play Jewel
  </a>
</div>
