<div class="pbfooter">
  <div class="col-md-6 text-left">
    <span class="fa fa-th"></span>
    <a href="/admin" title="Admin page" style="color:white;">
      Admin page
    </a>
  </div>

  <div class="col-md-6 text-right">
    <span class="fa fa-home"></span>
    <a href="/" title="Viet Phuong yeu"
       style="color:white;">
      Back to normal page
    </a>
  </div>
</div>
