<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target="vpyeu-admin-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/admin">Admin Panel</a>
  </div>

  <div class="collapse navbar-collapse" id="vpyeu-admin-navbar-collapse">
    <ul id="active" class="nav navbar-nav side-nav">
      <li><a href="/admin">
          <i class="fa fa-bullseye"></i>
          Dashboard
      </a></li>
      <li><a href="/admin/message">
          <i class="fa fa-envelope"></i>
          Messages
      </a></li>
      <li><a href="">
          <i class="fa fa-globe"></i>
          Blog
      </a></li>
      <li><a href="">
          <i class="fa fa-list-ol"></i>
          SignUp
      </a></li>
      <li><a href="">
          <i class="fa fa-font"></i>
          Register
      </a></li>
      <li><a href="">
          <i class="fa fa-font"></i>
          Timeline
      </a></li>
      <li><a href="">
          <i class="fa fa-list-ol"></i>
          Forms
      </a></li>
      <li><a href="">
          <i class="fa fa-font"></i>
          Typography
      </a></li>
      <li><a href="">
          <i class="fa fa-list-ul"></i>
          Bootstrap Elements
      </a></li>
      <li><a href="">
          <i class="fa fa-table"></i>
          Bootstrap Grid
      </a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-user">
      <li class="dropdown messages-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope"></i>
          Messages
          <span class="badge">${unread_messages.count()}</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">
            ${unread_messages.count()} New Messages
          </li>
          % for msg in unread_messages:
          <li class="message-preview">
            <a href="/admin/message/view/${msg.message_id}">
              <span class="avatar"><i class="fa fa-bell"></i></span>
              <span class="message">${msg}</span>
            </a>
          </li>
          <li class="divider"></li>
          % endfor
          <li><a href="/admin/message">
              Go to Inbox
              <span class="badge">${unread_messages.count()}</span>
          </a></li>
        </ul>
      </li>
      <li class="dropdown user-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i>
          ${current_user}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/">
              <i class="fa fa-arrow-circle-o-left"></i>
              Back to normal page
          </a></li>
        </ul>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <form class="navbar-search">
          <input type="text" placeholder="Search" class="form-control">
        </form>
      </li>
    </ul>
  </div>
</nav>
