## -*- coding: utf-8 -*-

<!DOCTYPE html>
<html>
  <head>
    <title><%block name="title"/> - Viet Phuong yeu | Admin Page</title>
    <%include file="/layout/_meta.html"/>

    <body>

      <div id="wrapper">
        <%include file="/layout/_navbar.html"/>

        <div id="page-wrapper">

          ${next.body()}

          <%include file="/layout/_footer.html"/>
        </div>
      </div>
    </body>
</html>
