## -*- coding: utf-8 -*-
<%inherit file="/blog/layout/base.html"/>

% for author in authors:
<div class="media">
  <div class="media-left">
    <img src="${author.gravatar(96)}">
  </div>
  <div class="media-body">
    <h4><a href="/blog/author/view/${author.name}">
        ${author}
    </a></h4>
    <p>${author.name}</p>
    <p>${author.pr}</p>
  </div>
</div>
% endfor
