## -*- coding: utf-8 -*-
<%inherit file="/blog/layout/base.html"/>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">${author}</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <img src="${author.gravatar(96)}">
          </div>
          <div class="media-body">
            <h4><a href="">${author}</a></h4>
            <p>${author.name}</p>
            <p>${author.pr}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="list-group">
      <div class="list-group-item active">
        <h4 class="panel-title">Posts by ${author}</h4>
      </div>
      % for entry in entries:
      <a href="/blog/entry/view/${entry[0].entry_id}" class="list-group-item">
        <h4>
          ${entry[0]}
        </h4>
      </a>
      % endfor
    </div>
  </div>
</div>
