#tetris {
    margin: 1em auto;
    padding: 1em;
    border: 4px solid black;
    border-radius: 10px;
    background-color: #F8F8F8;
}
#stats {
    display: inline-block;
    vertical-align: bottom;
}

#canvas {
    display: inline-block;
    vertical-align: top;
    background: url(/static/images/tetris/texture.jpg);
    box-shadow: 10px 10px 10px #999;
    border: 2px solid #333;
}

#tetris-menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#tetris-menu p {
    margin: 0.5em 0;
    text-align: center;
}

#tetris-menu p a {
    text-decoration: none;
    color: black;
}

#upcoming {
    display: block;
    margin: 0 auto;
    background-color: #E0E0E0;
}

#score {
    color: red;
    font-weight: bold;
    vertical-align: middle;
}

#rows {
    color: blue;
    font-weight: bold;
    vertical-align: middle;
}

#stats {
    position: absolute;
    bottom: 0em;
    right: 1em;
}

@media screen and (min-width:   0px) and (min-height:   0px)  {
    #tetris {
        font-size: 0.75em;
        width: 250px;
    }
    #tetris-menu {
        width: 100px;
        height: 200px;
    }
    #upcoming {
        width:  50px;
        height:  50px;
    }
    #canvas {
        width: 100px;
        height: 200px;
    }
} /* 10px chunks */

@media screen and (min-width: 400px) and (min-height: 400px) {
    #tetris {
        font-size: 1.00em;
        width: 350px;
    }
    #tetris-menu {
        width: 150px;
        height: 300px;
    }
    #upcoming {
        width:  75px;
        height:  75px;
    }
    #canvas {
        width: 150px;
        height: 300px;
    }
} /* 15px chunks */

@media screen and (min-width: 500px) and (min-height: 500px) {
    #tetris {
        font-size: 1.25em;
        width: 450px;
    }
    #tetris-menu {
        width: 200px;
        height: 400px;
    }
    #upcoming {
        width: 100px;
        height: 100px;
    }
    #canvas {
        width: 200px;
        height: 400px;
    }
} /* 20px chunks */
