<%inherit file="/base/base.html"/>

<%block name="title">
SNS Page
</%block>

<%block name="meta">
<script src="/static/js/sns/vpyeu.js"></script>
</%block>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      ${next.body()}
    </div>

    <div class="col-md-4">
      % if current_user and current_user is not UNDEFINED:
      <%include file="/sns/users/_profile.html"/>
      <%include file="/sns/posts/_form.html"/>
      % else:
      <p>Do you want to join?</p>
      <a href="javascript:;" data-toggle="modal" data-target="#login"
         class="btn btn-primary">
        <span class="glyphicon glyphicon-log-in"></span>
        Login
      </a>
      <a href="/user/register" class="btn btn-info">
        <span class="glyphicon glyphicon-user"></span>
        Register
      </a>
      % endif
    </div>
  </div>
</div>
