## -*- coding: utf-8 -*-

<%inherit file="/layout/base.html"/>

<%block name="title">
Dashboard
</%block>

<div class="row">
  <div class="col-lg-12">
    <h1>Dashboard <small>Statistics and more</small></h1>

    % if unread_messages:
    <div class="alert alert-dismissable alert-warning">
      <button data-dismiss="alert" class="close" type="button">×</button>
      <h4>Warning!</h4>
      <p>You have ${unread_messages.count()} new messages.
      </p>
    </div>
    % endif
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Visits Based on a 10 days data</h3>
      </div>
      <div class="panel-body">
        <div class="shield-chart" id="shieldui-chart1"><div style="position: relative; overflow: hidden; width: 677px; height: 400px; line-height: normal; z-index: 0; font-family: Segoe UI,Tahoma,Verdana,sans-serif; font-size: 12px; left: 0px; top: 0px;" class="shield-container" id="shielddw"><svg height="400" width="677" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="shielddx"><rect stroke-width="0" height="400" width="9999" y="0" x="0" fill="none" ry="0" rx="0"></rect></clipPath><clipPath id="shielddy"><rect height="306" width="635" y="0" x="0" fill="none"></rect></clipPath><filter height="120%" id="586d09b9-a18a-442e-927b-d9538cbc72e1"><feGaussianBlur stdDeviation="3" in="SourceAlpha"></feGaussianBlur><feComponentTransfer><feFuncA slope="0.2" type="linear"></feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><rect stroke-width="0" height="400" width="677" y="0" x="0" fill="#2D2D2D" ry="0" rx="0"></rect><rect stroke-width="0" height="306" width="635" y="40" x="32" fill="#2D2D2D" ry="0" rx="0"></rect><g zIndex="1"></g><g zIndex="1"><path zIndex="1" stroke-dasharray="8,3" stroke-width="1" stroke="#7E7E7E" d="M 32 270.5 L 667 270.5" fill="none"></path><path zIndex="1" stroke-dasharray="8,3" stroke-width="1" stroke="#7E7E7E" d="M 32 193.5 L 667 193.5" fill="none"></path><path zIndex="1" stroke-dasharray="8,3" stroke-width="1" stroke="#7E7E7E" d="M 32 117.5 L 667 117.5" fill="none"></path><path zIndex="1" stroke-dasharray="8,3" stroke-width="1" stroke="#7E7E7E" d="M 32 40.5 L 667 40.5" fill="none"></path><path zIndex="1" stroke-dasharray="8,3" stroke-width="1" stroke="#7E7E7E" d="M 32 346.5 L 667 346.5" fill="none"></path></g><g zIndex="2"><path stroke-width="1" stroke="#7E7E7E" d="M 145.5 346 L 145.5 352" fill="none"></path><path stroke-width="1" stroke="#7E7E7E" d="M 260.5 346 L 260.5 352" fill="none"></path><path stroke-width="1" stroke="#7E7E7E" d="M 374.5 346 L 374.5 352" fill="none"></path><path stroke-width="1" stroke="#7E7E7E" d="M 488.5 346 L 488.5 352" fill="none"></path><path stroke-width="1" stroke="#7E7E7E" d="M 603.5 346 L 603.5 352" fill="none"></path><path stroke-width="1" stroke="#7E7E7E" d="M 31.5 346 L 31.5 352" fill="none"></path><path visibility="visible" zIndex="7" stroke-width="1" stroke="#7E7E7E" d="M 32 346.5 L 667 346.5" fill="none"></path></g><g zIndex="2"></g><g zIndex="3"><g clip-path="url(#shielddy)" transform="translate(32,40)" zIndex="0.1" visibility="visible"><path zIndex="0" fill-opacity="0.75" d="M 0 260.1 L 57.15571557155716 141.5 L 114.31143114311432 176 L 171.4671467146715 221.9 L 228.62286228622864 260.1 L 285.7785778577858 179.8 L 342.934293429343 290.7 L 400.0900090009001 241 L 457.2457245724573 221.9 L 514.4014401440145 176 L 571.5571557155716 99.4 L 628.7128712871288 49.7 L 628.7128712871288 306 L 0 306" fill="rgb(30,151,227)"></path><path zIndex="1" stroke-width="2" stroke="#1E97E3" d="M 0 260.1 L 57.15571557155716 141.5 L 114.31143114311432 176 L 171.4671467146715 221.9 L 228.62286228622864 260.1 L 285.7785778577858 179.8 L 342.934293429343 290.7 L 400.0900090009001 241 L 457.2457245724573 221.9 L 514.4014401440145 176 L 571.5571557155716 99.4 L 628.7128712871288 49.7" fill="none"></path></g><g clip-path="none" transform="translate(32,40)" zIndex="0.1" visibility="visible"></g></g><text zIndex="4" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;color:#FFFFFF;top:10;fill:#FFFFFF;" y="25" x="339"><tspan x="339">Visitors</tspan></text><g transform="translate(306,371)" zIndex="7"><g clip-path="url(#shielddx)" zIndex="1"><g><g transform="translate(8,3)" zIndex="1"><path stroke-width="0" stroke="#1E97E3" style="cursor:pointer;" d="M 1 6 L 11 6 11 16 1 16 Z" fill="#1E97E3"></path><text zIndex="2" text-anchor="start" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:12px;cursor:pointer;color:#A5A5A5;fill:#A5A5A5;" y="15" x="17"><tspan x="17">Q Data</tspan></text></g></g></g></g><g zIndex="7"><text visibility="visible" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="363" x="32"><tspan x="32">0</tspan></text><text visibility="visible" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="363" x="146.3114311431143"><tspan x="146.3114311431143">2</tspan></text><text visibility="visible" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="363" x="260.6228622862286"><tspan x="260.6228622862286">4</tspan></text><text visibility="visible" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="363" x="374.934293429343"><tspan x="374.934293429343">6</tspan></text><text visibility="visible" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="363" x="489.2457245724573"><tspan x="489.2457245724573">8</tspan></text><text visibility="visible" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="363" x="603.5571557155716"><tspan x="603.5571557155716">10</tspan></text></g><g zIndex="7"><text visibility="visible" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:298px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="351.1" x="24"><tspan x="24">0</tspan></text><text visibility="visible" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:298px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="274.6" x="24"><tspan x="24">20</tspan></text><text visibility="visible" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:298px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="198.1" x="24"><tspan x="24">40</tspan></text><text visibility="visible" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:298px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="121.6" x="24"><tspan x="24">60</tspan></text><text visibility="visible" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;width:298px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="45.1" x="24"><tspan x="24">80</tspan></text></g><text zIndex="8" text-anchor="start" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="60" x="37"><tspan x="37">Demo Version</tspan></text><text zIndex="8" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="60" x="662"><tspan x="662">Demo Version</tspan></text><text zIndex="8" text-anchor="start" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="341" x="37"><tspan x="37">Demo Version</tspan></text><text zIndex="8" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="341" x="662"><tspan x="662">Demo Version</tspan></text><g zIndex="9"><g transform="translate(32,40)" zIndex="1" visibility="visible"><path style="" stroke-width="22" stroke="rgb(192,192,192)" stroke-opacity="0.0001" visibility="visible" stroke-linejoin="bevel" isTracker="true" d="M -10 260.1 L 0 260.1 L 57.15571557155716 141.5 L 114.31143114311432 176 L 171.4671467146715 221.9 L 228.62286228622864 260.1 L 285.7785778577858 179.8 L 342.934293429343 290.7 L 400.0900090009001 241 L 457.2457245724573 221.9 L 514.4014401440145 176 L 571.5571557155716 99.4 L 628.7128712871288 49.7 L 638.7128712871288 49.7" fill="none"></path></g></g></svg></div><div class="shield-tooltip" style="pointer-events: none; display: none; top: 193px; left: 58px;"><div class="shield-tooltip-header">2</div><div class="shield-tooltip-value"><span>Q Data</span>: 34</div></div></div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-rss"></i> Feed</h3>
      </div>
      <div class="panel-body feed">
        <section class="feed-item">
          <div class="icon pull-left">
            <i class="fa fa-comment"></i>
          </div>
          <div class="feed-item-body">
            <div class="text">
              <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
            </div>
            <div class="time pull-left">
              3 h
            </div>
          </div>
        </section>
        <section class="feed-item">
          <div class="icon pull-left">
            <i class="fa fa-check"></i>
          </div>
          <div class="feed-item-body">
            <div class="text">
              <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
            </div>
            <div class="time pull-left">
              10 h
            </div>
          </div>
        </section>
        <section class="feed-item">
          <div class="icon pull-left">
            <i class="fa fa-plus-square-o"></i>
          </div>
          <div class="feed-item-body">
            <div class="text">
              New user <a href="#">Greg Wilson</a> registered.
            </div>
            <div class="time pull-left">
              Today
            </div>
          </div>
        </section>
        <section class="feed-item">
          <div class="icon pull-left">
            <i class="fa fa-bolt"></i>
          </div>
          <div class="feed-item-body">
            <div class="text">
              Server fail level raises above normal. <a href="#">See logs</a> for details.
            </div>
            <div class="time pull-left">
              Yesterday
            </div>
          </div>
        </section>
        <section class="feed-item">
          <div class="icon pull-left">
            <i class="fa fa-archive"></i>
          </div>
          <div class="feed-item-body">
            <div class="text">
              <a href="#">Database usage report</a> is ready.
            </div>
            <div class="time pull-left">
              Yesterday
            </div>
          </div>
        </section>
        <section class="feed-item">
          <div class="icon pull-left">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="feed-item-body">
            <div class="text">
              <a href="#">Order #233985</a> needs additional processing.
            </div>
            <div class="time pull-left">
              Wednesday
            </div>
          </div>
        </section>
        <section class="feed-item">
          <div class="icon pull-left">
            <i class="fa fa-arrow-down"></i>
          </div>
          <div class="feed-item-body">
            <div class="text">
              <a href="#">Load more...</a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Traffic Sources One month tracking </h3>
      </div>
      <div class="panel-body">
        <div class="sui-grid sui-grid-core" id="shieldui-grid1"><div class="sui-gridheader"><table class="sui-table"><colgroup><col style="width:170px"><col><col><col></colgroup><thead><tr class="sui-columnheader"><th class="sui-headercell"><a href="#" class="sui-link">Source</a></th><th class="sui-headercell"><a href="#" class="sui-link">Amount</a></th><th class="sui-headercell"><a href="#" class="sui-link">Percent</a></th><th class="sui-headercell"><a href="#" class="sui-link">Target</a></th></tr></thead><tbody class="sui-hide"><tr><td></td><td></td><td></td><td></td></tr></tbody></table></div><div class="sui-gridcontent"><table class="sui-table"><colgroup><col style="width:170px"><col><col><col></colgroup><tbody><tr class="sui-row"><td class="sui-cell">Direct</td><td class="sui-cell">323</td><td class="sui-cell">23 %</td><td class="sui-cell">600</td></tr><tr class="sui-alt-row"><td class="sui-cell">Refer</td><td class="sui-cell">345</td><td class="sui-cell">45 %</td><td class="sui-cell">567</td></tr><tr class="sui-row"><td class="sui-cell">Social</td><td class="sui-cell">567</td><td class="sui-cell">23 %</td><td class="sui-cell">456</td></tr><tr class="sui-alt-row"><td class="sui-cell">Search</td><td class="sui-cell">234</td><td class="sui-cell">56 %</td><td class="sui-cell">890</td></tr><tr class="sui-row"><td class="sui-cell">Internal</td><td class="sui-cell">111</td><td class="sui-cell">12 %</td><td class="sui-cell">345</td></tr></tbody></table></div></div>Demo Version<a style="color: grey; text-decoration: none;" href="http://www.shieldui.com" target="_blank"> by ShieldUI</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Logins per week</h3>
      </div>
      <div class="panel-body">
        <div class="shield-chart" id="shieldui-chart2"><div style="position: relative; overflow: hidden; width: 307px; height: 400px; line-height: normal; z-index: 0; font-family: Segoe UI,Tahoma,Verdana,sans-serif; font-size: 12px; left: 0px; top: 0.833374px;" class="shield-container" id="shieldeb"><svg height="400" width="307" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="shieldec"><rect stroke-width="0" height="400" width="9999" y="0" x="0" fill="none" ry="0" rx="0"></rect></clipPath><clipPath id="shielded"><rect height="340" width="287" y="0" x="0" fill="none"></rect></clipPath><filter height="120%" id="3a391704-3f29-4f1a-91c2-ec1d9a6d5ee1"><feGaussianBlur stdDeviation="3" in="SourceAlpha"></feGaussianBlur><feComponentTransfer><feFuncA slope="0.2" type="linear"></feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><rect stroke-width="0" height="400" width="307" y="0" x="0" fill="#2D2D2D" ry="0" rx="0"></rect><rect stroke-width="0" height="340" width="287" y="40" x="10" fill="#2D2D2D" ry="0" rx="0"></rect><g zIndex="3"></g><path transform="translate(10,40)" zIndex="3" visibility="visible" stroke="#FF2A00" stroke-width="1" d="M 120.47534749569314 33.19758612464172 L 130.47534749569314 33.19758612464172 L 131.7504761069861 63.01827579774434" fill="none"></path><path transform="translate(10,40)" zIndex="3" visibility="visible" stroke="#00FF9C" stroke-width="1" d="M -0.3978780276234204 191.73493438198483 L 9.60212197237658 191.73493438198483 L 37.225637618725 186.9970740262388" fill="none"></path><path transform="translate(10,40)" zIndex="3" visibility="visible" stroke="#1E97E3" stroke-width="1" d="M 207.52959217109267 44.29667694869387 L 197.52959217109267 44.29667694869387 L 187.31605709292535 71.69794627867886" fill="none"></path><path transform="translate(10,40)" zIndex="3" visibility="visible" stroke="#FF8000" stroke-width="1" d="M 279.8115509390305 219.76732382417788 L 269.8115509390305 219.76732382417788 L 243.84173057084945 208.91886086522902" fill="none"></path><text zIndex="4" text-anchor="middle" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;color:#FFFFFF;top:10;fill:#FFFFFF;" y="25" x="154"><tspan x="154">Traffic Per week</tspan></text><g transform="translate(10,40)" zIndex="5"><path stroke-linejoin="round" stroke-width="0" stroke="#FFFFFF" d="M 143.47807967145232 62.37500223229179 A 107.625 107.625 0 0 1 223.55561912825164 98.06782033754078 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="#1E97E3"></path><path style="" visibility="visible" fill-opacity="0.0001" isTracker="1421891815108" d="M 143.47807967145232 62.37500223229179 A 107.625 107.625 0 0 1 223.55561912825164 98.06782033754078 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="rgb(192,192,192)"></path></g><g transform="translate(10,40)" zIndex="5"><path stroke-linejoin="round" stroke-width="0" stroke="#FFFFFF" d="M 223.55569106039127 98.06790039319587 A 107.625 107.625 0 0 1 154.11577267274197 277.10016804636984 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="#FF8000"></path><path style="" visibility="visible" fill-opacity="0.0001" isTracker="1421891815108" d="M 223.55569106039127 98.06790039319587 A 107.625 107.625 0 0 1 154.11577267274197 277.10016804636984 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="rgb(192,192,192)"></path></g><g transform="translate(10,40)" zIndex="5"><path stroke-linejoin="round" stroke-width="0" stroke="#FFFFFF" d="M 154.11566557256862 277.100178662089 A 107.625 107.625 0 0 1 120.18216909449806 64.93135868936717 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="#00FF9C"></path><path style="" visibility="visible" fill-opacity="0.0001" isTracker="1421891815108" d="M 154.11566557256862 277.100178662089 A 107.625 107.625 0 0 1 120.18216909449806 64.93135868936717 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="rgb(192,192,192)"></path></g><g transform="translate(10,40)" zIndex="5"><path stroke-linejoin="round" stroke-width="0" stroke="#FFFFFF" d="M 120.18227416315105 64.9313353715888 A 107.625 107.625 0 0 1 143.4580283621616 62.37500818405785 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="#FF2A00"></path><path style="" visibility="visible" fill-opacity="0.0001" isTracker="1421891815108" d="M 120.18227416315105 64.9313353715888 A 107.625 107.625 0 0 1 143.4580283621616 62.37500818405785 L 143.5 170 A 0 0 0 0 0 143.5 170 Z" fill="rgb(192,192,192)"></path></g><g transform="translate(10,40)" zIndex="6" visibility="visible"><g visibility="visible" transform="translate(210,34.29667694869387)" style="" zIndex="1"><rect stroke-width="0" height="21" width="27" y="0" x="0" fill="none" ry="0" rx="0"></rect><text zIndex="1" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="15" x="3"><tspan x="3">123</tspan></text></g><g visibility="visible" transform="translate(282,209.76732382417788)" style="" zIndex="1"><rect stroke-width="0" height="21" width="27" y="0" x="0" fill="none" ry="0" rx="0"></rect><text zIndex="1" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="15" x="3"><tspan x="3">323</tspan></text></g><g visibility="visible" transform="translate(-26,181.73493438198483)" style="" zIndex="1"><rect stroke-width="0" height="21" width="27" y="0" x="0" fill="none" ry="0" rx="0"></rect><text zIndex="1" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="15" x="0"><tspan x="0">443</tspan></text></g><g visibility="visible" transform="translate(101,23.197586124641717)" style="" zIndex="1"><rect stroke-width="0" height="21" width="20" y="0" x="0" fill="none" ry="0" rx="0"></rect><text zIndex="1" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:11px;color:#7E7E7E;line-height:14px;fill:#7E7E7E;" y="15" x="0"><tspan x="0">32</tspan></text></g></g><g zIndex="7"><g clip-path="url(#shieldec)" zIndex="1"><g></g></g></g><text zIndex="8" text-anchor="start" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="60" x="15"><tspan x="15">Demo</tspan></text><text zIndex="8" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="60" x="292"><tspan x="292">Demo</tspan></text><text zIndex="8" text-anchor="start" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="375" x="15"><tspan x="15">Demo</tspan></text><text zIndex="8" text-anchor="end" style="font-family:Segoe UI, Tahoma, Verdana, sans-serif;font-size:16px;cursor:pointer;color:#999999;fill:#999999;" y="375" x="292"><tspan x="292">Demo</tspan></text><g zIndex="9"></g></svg></div><div class="shield-tooltip" style="pointer-events: none; display: none; top: 199px; left: 91px;"><div class="shield-tooltip-header">traffic</div><div class="shield-tooltip-value"><span>Sector</span>: 443</div></div></div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-magnet"></i> Server Overview</h3>
      </div>
      <div class="panel-body">
        <ul class="server-stats">
          <li>
            <div class="key pull-right">CPU</div>
            <div class="stat">
              <div class="info">60% / 37°C / 3.3 Ghz</div>
              <div class="progress progress-small">
                <div style="width: 70%;" class="progress-bar progress-bar-danger"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="key pull-right">Mem</div>
            <div class="stat">
              <div class="info">29% / 4GB (16 GB)</div>
              <div class="progress progress-small">
                <div style="width: 29%;" class="progress-bar"></div>
              </div>
            </div>
          </li>
          <li>
            <div class="key pull-right">LAN</div>
            <div class="stat">
              <div class="info">6 Mb/s <i class="fa fa-caret-down"></i>&nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
              <div class="progress progress-small">
                <div style="width: 48%;" class="progress-bar progress-bar-inverse"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-lg-4">

    <header>
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#stats">Users</a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#report">Favorites</a>
        </li>
        <li class="">
          <a data-toggle="tab" href="#dropdown1">Commenters</a>
        </li>
      </ul>
    </header>
    <div class="body tab-content">
      <div class="tab-pane clearfix active" id="stats">
        <h5 class="tab-header"><i class="fa fa-calendar-o fa-2x"></i> Last logged-in users</h5>
        <ul class="news-list">
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Ivan Gorge</a></div>
              <div class="position">Software Engineer</div>
              <div class="time">Last logged-in: Mar 12, 11:11</div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Roman Novak</a></div>
              <div class="position">Product Designer</div>
              <div class="time">Last logged-in: Mar 12, 19:02</div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Teras Uotul</a></div>
              <div class="position">Chief Officer</div>
              <div class="time">Last logged-in: Jun 16, 2:34</div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Deral Ferad</a></div>
              <div class="position">Financial Assistant</div>
              <div class="time">Last logged-in: Jun 18, 4:20</div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Konrad Polerd</a></div>
              <div class="position">Sales Manager</div>
              <div class="time">Last logged-in: Jun 18, 5:13</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="report">
        <h5 class="tab-header"><i class="fa fa-star fa-2x"></i> Popular contacts</h5>
        <ul class="news-list news-list-no-hover">
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Pol Johnsson</a></div>
              <div class="options">
                <button class="btn btn-xs btn-success">
                  <i class="fa fa-phone"></i>
                  Call
                </button>
                <button class="btn btn-xs btn-warning">
                  <i class="fa fa-envelope-o"></i>
                  Message
                </button>
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Terry Garel</a></div>
              <div class="options">
                <button class="btn btn-xs btn-success">
                  <i class="fa fa-phone"></i>
                  Call
                </button>
                <button class="btn btn-xs btn-warning">
                  <i class="fa fa-envelope-o"></i>
                  Message
                </button>
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Eruos Forkal</a></div>
              <div class="options">
                <button class="btn btn-xs btn-success">
                  <i class="fa fa-phone"></i>
                  Call
                </button>
                <button class="btn btn-xs btn-warning">
                  <i class="fa fa-envelope-o"></i>
                  Message
                </button>
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Remus Reier</a></div>
              <div class="options">
                <button class="btn btn-xs btn-success">
                  <i class="fa fa-phone"></i>
                  Call
                </button>
                <button class="btn btn-xs btn-warning">
                  <i class="fa fa-envelope-o"></i>
                  Message
                </button>
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Lover Lund</a></div>
              <div class="options">
                <button class="btn btn-xs btn-success">
                  <i class="fa fa-phone"></i>
                  Call
                </button>
                <button class="btn btn-xs btn-warning">
                  <i class="fa fa-envelope-o"></i>
                  Message
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="dropdown1">
        <h5 class="tab-header"><i class="fa fa-comments fa-2x"></i> Top Commenters</h5>
        <ul class="news-list">
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Edin Garey</a></div>
              <div class="comment">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                aut odit aut fugit,sed quia
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Firel Lund</a></div>
              <div class="comment">
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat.
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Jessica Desingter</a></div>
              <div class="comment">
                Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt.
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Novel Forel</a></div>
              <div class="comment">
                Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque.
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-user fa-4x pull-left"></i>
            <div class="news-item-info">
              <div class="name"><a href="#">Wedol Reier</a></div>
              <div class="comment">
                Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis
                et quasi.
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
