<%inherit file="/base/base.html"/>

<%block name="title">
User account
</%block>

<%block name="meta">
<script src="/static/js/user/vpyeu.js"></script>
</%block>

<div class="container">
  <img src="https://scontent-b-hkg.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10846070_1011517792208649_8247760692454613030_n.jpg?oh=e25c5eccfa537e1b0043a967a4b0e07f&oe=5543BE56" alt="VietPhuong"
       class="img-circle pull-right" width="240" height="240">
  <h1>User Page</h1>
  <p>This page for user management. New member may register,
    registered member may view and edit their profile.</p>
  <p>Keep calm and enjoy!</p>
</div>

${next.body()}
