<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">${user}</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <th>classification</th>
          <td>${"admin" if user.is_admin else "member"}</td>
        </tr>

        <tr>
          <th>Number of post:</th>
          <td>
            <a href="/sns">${user.get_posts().count()}</a></td>
        </tr>

        % if user.is_admin:
        <tr>
          <th>Number of blog entries:</th>
          <td><a href="/blog/author/view/${user.name}">
              ${user.get_entries().count()}
          </a></td>
        </tr>
        % endif
      </tbody>
    </table>
  </div>
</div>
