<%inherit file="/user/layout/base.html"/>

<%block name="title">
User page
</%block>

<div class="container">
  <h1>Avatar <small>${user}</small></h1>

  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-sm-8">
          <p class="avatar">At this time, I use gravatar service for manipulating user's avatar. <a href="http://en.gravatar.com/" target="blank_">Go to gravatar</a> to edit your avatar.</p>
          <p class="avatar">I will build my own service for upload avatar in this site. But now, as you can see, all features are in constructing. I have priority for developing main features. Avatar uploading feature will be available soon.</p>
        </div>
        <div class="col-sm-4">
          <p>Avatar of <a href="/user/view/${user.name}">${user}</a></p>
          <img src="${user.gravatar(128)}" style="padding-bottom:1em;">
        </div>
      </div>
    </div>

    <div class="col-md-offset-2 col-md-3">
      <%include file="/user/view/_statistics.html"/>
    </div>
  </div>
</div>
