<%inherit file="/user/layout/base.html"/>

<%block name="title">
User page
</%block>

<div class="container">
  <h1>User profile <small>${user}</small></h1>

  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <tbody>
          <tr>
            <th>User</th>
            <td><strong>${user}</strong></td>
          </tr>

          <tr>
            <th>Avatar</th>
            <td>
              <img src=${user.gravatar(64)}/>
              <br>
              % if current_user == user:
              <a href="/user/avatar/${user.name}">
                Change avatar
              </a>
              % endif
            </td>
          </tr>

          <tr>
            <th>Name</th>
            <td>${user.name}</td>
          </tr>

          <tr>
            <th>Fullname</th>
            <td>${user.fullname}</td>
          </tr>

          <tr>
            <th>Self introduction</th>
            <td>${user.pr}</td>
          </tr>

          % if current_user == user:
          <tr>
            <td colspan="2"><a href="/user/edit/${user.name}">
                Edit profile
            </a></td>
          </tr>
          % endif

        </tbody>
      </table>
    </div>

    <div class="col-md-offset-2 col-md-3">
      <%include file="/user/view/_statistics.html"/>
    </div>
  </div>
</div>
