## -*- coding: utf-8 -*-

<%inherit file="/base/base.html"/>

<%block name="title">Gallery</%block>

<%block name="meta">
<link rel="stylesheet" href="/static/css/gallery/upload/blueimp-gallery.min.css">
<link rel="stylesheet" href="/static/css/gallery/upload/jquery.fileupload.css">
<link rel="stylesheet" href="/static/css/gallery/upload/jquery.fileupload-ui.css">
<noscript><link rel="stylesheet" href="/static/css/gallery/upload/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="/static/css/gallery/upload/jquery.fileupload-ui-noscript.css"></noscript>

<link rel="stylesheet" href="/static/css/gallery/vpyeu.css">
<script>
  var fpslideshowvar={
  baseurl: "/static/images/gallery/",
  images: [
  % for i, f in enumerate(photos):
  [${i}, "${f}", ""],
  % endfor
  ["placeholder"]
  ],
  desc: []
}
</script>
<script type="text/javascript" src="/static/js/gallery/fpslideshow.js"></script>
<script type="text/javascript" src="/static/js/gallery/vpyeu.js"></script>
</%block>

<div class="container">
  <button id="bottom-btn" class="btn btn-primary">
    Go go show
    <span class="glyphicon glyphicon-arrow-down"></span>
  </button>

  <a href="javascript:;" id="upload-btn" class="btn btn-default">
      <span class="glyphicon glyphicon-upload"></span>
      Upload
  </a>
  <div id="upload-form">
  <form id="fileupload" action="/gallery/upload" method="POST"
        enctype="multipart/form-data">
    <noscript><input type="hidden" name="redirect" value="/"></noscript>
    <div class="row fileupload-buttonbar">
      <div class="col-lg-7">
        <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add files...</span>
          <input type="file" name="files" multiple>
        </span>
        <button type="submit" class="btn btn-primary start">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
          <i class="glyphicon glyphicon-ban-circle"></i>
          <span>Cancel upload</span>
        </button>
        <button type="button" class="btn btn-danger delete">
          <i class="glyphicon glyphicon-trash"></i>
          <span>Delete</span>
        </button>
        <a href="" class="btn btn-info">
          <span class="glyphicon glyphicon-refresh"></span>
          <span>Refresh</span>
        </a>
        <span class="fileupload-process"></span>
      </div>
      <div class="col-lg-5 fileupload-progress fade">
        <div class="progress progress-striped active" role="progressbar"
             aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-success" style="width:0%;">
          </div>
        </div>
        <div class="progress-extended">&nbsp;</div>
      </div>
    </div>
    <table role="presentation" class="table table-striped">
      <tbody class="files"></tbody>
    </table>
  </form>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar"
                 aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div class="progress-bar progress-bar-success"
                   style="width:0%;"></div>
            </div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}"
                       download="{%=file.name%}" data-gallery>
                      <img src="{%=file.thumbnailUrl%}">
                    </a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}"
                       download="{%=file.name%}"
                       {%=file.thumbnailUrl?'data-gallery':''%}>
                      {%=file.name%}
                    </a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span>
                  {%=file.error%}
                </div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete"
                        data-type="{%=file.deleteType%}"
                        data-url="{%=file.deleteUrl%}"
                        {% if (file.deleteWithCredentials) { %}
                        data-xhr-fields='{"withCredentials":true}'{% } %}>
                  <i class="glyphicon glyphicon-trash"></i>
                  <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1"
                       class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<script src="/static/js/gallery/upload/vendor/jquery.ui.widget.js"></script>
<script src="/static/js/gallery/upload/tmpl.min.js"></script>
<script src="/static/js/gallery/upload/load-image.all.min.js"></script>
<script src="/static/js/gallery/upload/canvas-to-blob.min.js"></script>
<script src="/static/js/gallery/upload/jquery.blueimp-gallery.min.js"></script>
<script src="/static/js/gallery/upload/jquery.iframe-transport.js"></script>
<script src="/static/js/gallery/upload/jquery.fileupload.js"></script>
<script src="/static/js/gallery/upload/jquery.fileupload-process.js"></script>
<script src="/static/js/gallery/upload/jquery.fileupload-image.js"></script>
<script src="/static/js/gallery/upload/jquery.fileupload-audio.js"></script>
<script src="/static/js/gallery/upload/jquery.fileupload-video.js"></script>
<script src="/static/js/gallery/upload/jquery.fileupload-validate.js"></script>
<script src="/static/js/gallery/upload/jquery.fileupload-ui.js"></script>
<script src="/static/js/gallery/upload/main.js"></script>
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="/static/js/gallery/upload/cors/jquery.xdr-transport.js"></script>
<![endif]-->
