<%inherit file="/base/base.html"/>

<%block name="title">
404 Error
</%block>


<div class="container">
  <img src="http://www.usernetsite.com/wallpapers/404-error-desktop-not-found-wallpapers/free-new-error-404.jpg" alt="VietPhuong"
       class="img-circle pull-right" style="width:240px;height:240px">
  <h1>${status}</h1>
  <h2>${msg}</h2>
  <h3>Don't worry. You can continue</h3>
  <a href="/" class="btn btn-danger">
    <span class="glyphicon glyphicon-backward"></span>
    Back to top page
  </a>
</div>
