<form>
  <input type="hidden" name="entry-id" id="entry-id" value="${entry.entry_id or ''}">

  <label>Headline</label>
  <input type="text" name="headline" id="entry-headline"
         class="form-control"
         maxlength="255"
         placeholder="Enyou your entry headline"
         value="${entry.headline or ''}"></input>
  <br>
  <label>Content</label>
  <textarea name="body_text" id="entry-body"
            placeholder="Enter you text here"
            >${entry.body_text or ""}</textarea>
  <br>

  <button class="btn btn-primary" type="button" name="save" value="save"
          id="entry-save">
    <span class="glyphicon glyphicon-save"></span>
    Save
  </button>
  % if not entry.published_at:
  <button class="btn btn-danger" type="button" name="publish" value="public"
          id="entry-publish">
    <span class="glyphicon glyphicon-eye-open"></span>
    Publish
  </button>
  % endif
  <a href="/blog/entry">Cancel</a>
</form>
