## -*- coding: utf-8 -*-
<%inherit file="/blog/layout/base.html"/>

<div class="blog-description">
  % for entry in entries:
  <article>
    <h2>
      <a href="/blog/entry/view/${entry[0].entry_id}">
        ${entry[0] | entity}
      </a>
    </h2>

    <div class="post-time">
      <span class="glyphicon glyphicon-time"></span>
      Posted at
      <a href="javascript:;" title="${entry[0].published_at}">
        <strong>${entry[0].published_at}</strong>
      </a>
      by
      <a href="/blog/author/view/${entry[1].name}">
        <strong>${entry[1]}</strong>
      </a>
    </div>

    <div class="article-description clearfix">
      ${entry[0].body_text.split("</p>")[0]}</p>
      <a class="btn btn-primary btn-xs pull-right"
         href="/blog/entry/view/${entry[0].entry_id}">
        <span class="glyphicon glyphicon-forward"></span>
        Continue reading
      </a>
    </div>
  </article>
  % endfor
</div>
