## -*- coding: utf-8 -*-
<%inherit file="/blog/layout/base.html"/>

<div class="blog-description">
  <article>
    <h1><a href="">${entry[0]}</a></h1>
    <div class="post-time">
      <span class="glyphicon glyphicon-time"></span>
      Posted at
      <a href="javascript:;" title="${entry[0].published_at}">
        <strong>${entry[0].published_at}</strong>
      </a>
      by
      <a href="/blog/author/view/${entry[1].name}">
        <strong>${entry[1]}</strong>
      </a>
    </div>
    <div class="article-description clearfix">
      ${entry[0].body_text}
    </div>
  </article>

  <hr>
  <div class="social-link">
    <ul class="list-unstyled">
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button"
           data-via="AnhTranngoc" data-count="none">Tweet</a>
      </li>
      <li>
        <div class="g-plus" data-action="share" data-annotation="none"></div>
      </li>
      <li>
        <div id="fb-like-btn" class="fb-like"
             data-href=""
             data-layout="button"
             data-action="like"
             data-show-faces="true"
             data-share="true"
             style="border:none;height:auto;">
        </div>
      </li>
    </ul>
  </div>
  <div id="fb-cmt-btn"
       class="fb-comments"
       data-href=""
       data-numposts="10"
       data-colorscheme="light">
  </div>
</div>

<%block name="extras">
<script src="/static/js/blog/social.js"></script>
</%block>
