<%inherit file="/blog/layout/base.html"/>

<%block name="title">
Blog Entry
</%block>

<h1>Write your entry here</h1>
<%include file="/blog/entry/_form.html"/>

<script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace("body_text");
</script>
